<div class="container">
	<legend>Video Management System</legend>	

	<div class="info_panel"></div>

	<div class="row">
		<div class="span6 segment_table_view"></div>			
		<div class='span6 segment_detail_view'></div>
	</div>

	
	<div class="span12" style="padding-bottom: 50px"></div>
	
	<div class="row">
		<div class="span5"></div>
		<div class="span6">
			<div class="add_segment_view"></div>
		</div>
	</div>
	
	<div class="span12" style="padding-bottom: 50px"></div>

	<div class="span12" style="margin-bottom:50px">
		<div class="timeline"></div>
	</div>
	
	
	<div class="span12" style="margin-bottom: 50px"></div>

</div>
