<div class='lineLeft'></div>
<div class="segment"></div>
<div class='lineRight'></div>






<style rel="stylesheet" type="text/css">
	
	.segment_timeline{
		height: 100%;
		float: left;
		position: absolute;
	}

	.segment{
		height: 50%;
		width: 100%;
		background-color: {{color}};
		opacity: .5;
		position: absolute;
	}

	.lineLeft{
		height:100%;
		width: 2px;
		float: left;
		position: absolute;
		background-color: {{color}};
	}

	.lineRight{
		height:100%;
		width: 2px;
		float: right;
		background-color: {{color}};
	}

</style>
